.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  background-color:  #203B6B;
  height: 100%;
  width: 200px;
  padding-top: 20px;
  transition: width 0.3s;
}
body{
  background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23203b6b' fill-opacity='0.46'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}
.sidebar .nav-link{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  color: #fff;

}
.sidebar .description{
  font-size: 14px;
}
.sidebar .nav-link:hover{
  background-color: #E6EEF8;
  color:  #203B6B;
}
.sidebar .nav-link.navbar-brand{
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color:  #203B6B;
}
.main-content{
  height: 100%;
  margin-left: 200px;
  padding: 20px;
  flex-grow: 1;

}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
.sidebar .sub-menu{
  background-color:  #2c5397;
}

@media (max-width:480px){
  .sidebar{
    width: 60px;
  }
 .sidebar .description{
  display: none;

 }
 .sidebar .nav-link{
  justify-content: center;
 }
 .main-content{
  margin-left: 60px;
 }
 footer {
  padding: 10px;
  font-size: 14px;
}
footer .container {
  text-align: center;
}

}