<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Settings</title>
    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap"
        rel="stylesheet">

    <link href="{% static 'landing_page/css/bootstrap.min.css' %}" rel="stylesheet">

    <link href="{% static 'landing_page/css/bootstrap-icons.css' %}" rel="stylesheet">

    <link href="{% static 'landing_page/css/templatemo-tiya-golf-club.css' %}" rel="stylesheet">

    <style>
        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-color: hsl(0, 0%, 90%);
        }

        #inputcss {
            min-width: 300px;
        }

        .profile-logo {
            min-width: 135px;
            min-height: 135px;
            background: url("{% static 'images/bg03.jpg' %}") center/cover no-repeat;
            border-radius: 50%;
            border: 4px solid white;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }

        .sidebar {
            border-right: 1px solid hsla(0, 0%, 0%, 0.201);
        }
        
        .sidebar nav ul li:hover {
            background-color: aliceblue;
            cursor: pointer;
        }
    </style>
</head>

<body>

    <div class="d-flex justify-content-between">
        <div class="sidebar m-0">
            <nav>
                <ul class="nav-item">
                    <li class="nav-link p-3 m-0">Account</li>
                    <li class="nav-link p-3">Security</li>
                    <li class="nav-link p-3">Student Additional Information</li>
                </ul>
            </nav>
        </div>
        <div class="container py-5 me-5">
            <header class="mb-3">
                <h5>Account</h5>
            </header>
            <hr>
            <div>
                <p class="h6 text-muted">Avatar</p>
            </div>
            <div>
                <div class="d-flex">
                    <div id="profileLogo" class="profile-logo"></div>
                    <input type="file" id="imageUpload" class="my-auto ms-3" accept="image/*">
                </div>
            </div>
            <hr>
            <div class="main">
                <div>
                    <p class="h6 text-muted">Profile</p>
                    <div class="d-flex justify-content-between">
                        <div class="m-0 p-0">
                            <small class="text-muted">First Name</small>
                            <input type="text" name="" id="inputcss" class="form-control" value="" placeholder="John"
                                disabled>
                        </div>
                        <div>
                            <small class="text-muted">Middle Name</small>
                            <input type="text" id="inputcss" class="form-control" placeholder="Smith" disabled>
                        </div>
                        <div class="m-0 p-0">
                            <small class="text-muted">Last Name</small>
                            <input type="text" name="" id="inputcss" class="form-control" value="" placeholder="Doe"
                                disabled>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <small class="text-muted">Suffix</small>
                            <input type="text" id="inputcss" class="form-control" placeholder="Jr." disabled>
                        </div>
                        <div class="m-0 p-0">
                            <small class="text-muted">Account Number</small>
                            <input type="text" name="" id="inputcss" class="form-control" value=""
                                placeholder="22011010" disabled>
                        </div>
                        <div>
                            <small class="text-muted">Role/s</small>
                            <input type="text" id="inputcss" class="form-control" placeholder="Student" disabled>
                        </div>
                    </div><br>
                    <hr><br>
                    <p class="h6 text-muted">Personal Information</p>
                    <div class="d-flex justify-content-between">
                        <div class="m-0 p-0">
                            <small class="text-muted">Email</small>
                            <input type="text" name="" id="inputcss" class="form-control" value=""
                                placeholder="22011010@bcp.edu.ph" disabled>
                        </div>
                        <div>
                            <small class="text-muted">Personal Email</small>
                            <input type="email" id="inputcss" class="form-control" placeholder="example@gmail.com"
                                disabled>
                        </div>
                        <div class="m-0 p-0">
                            <small class="text-muted">Contact Number</small>
                            <input type="text" name="" id="inputcss" class="form-control" value=""
                                placeholder="09123456789" disabled>
                        </div>
                    </div>
                    <div class="d-flex justify-content-evenly">
                        <div>
                            <small class="text-muted">Civil Status</small>
                            <select name="" id="inputcss" class="form-control" disabled>
                                <option value="">Single</option>
                            </select>
                        </div>
                        <div class="m-0 p-0">
                            <small class="text-muted">Birthday</small>
                            <input type="date" name="" id="inputcss" class="form-control" value="" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- JAVASCRIPT FILES -->
    <script src="{% static 'landing_page/js/jquery.min.js' %}"></script>
    <script src="{% static 'landing_page/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'landing_page/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'landing_page/js/click-scroll.js' %}"></script>
    <script src="{% static 'landing_page/js/animated-headline.js' %}"></script>
    <script src="{% static 'landing_page/js/modernizr.js' %}"></script>
    <script src="{% static 'landing_page/js/custom.js' %}"></script>

    <script>
        const imageInput = document.getElementById('imageUpload');
        const profileLogo = document.getElementById('profileLogo');

        imageInput.addEventListener('change', function () {
            const file = this.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    profileLogo.style.backgroundImage = `url(${e.target.result})`;
                };
                reader.readAsDataURL(file);
            }
        });
    </script>


</html>