<!DOCTYPE HTML>
<html>
	{% load static %}
	<head>
		<title>BCP Clubs -Terms</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>BCP Clubs</h1>
			</header>

			<!-- Agreement Checkbox -->
		<form method="post" action="{% url 'home' %}">
			{% csrf_token %}
			<div>
				<input type="checkbox" id="agree" name="agree" required>
				<label for="agree">I hereby agree to the <a href="#">Terms and Conditions</a>.</label>
			</div>
			<div>
				<input type="submit" value="Enter">
			</div>
		</form>


			<!-- <form id="signup-form" method="post" action="{% url 'home' %}">
				{% csrf_token %}
				<input type="checkbox" name="agree" required>
				<input type="submit" value="Enter">
			</form> -->


			
		<!-- Scripts -->
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>