<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Link</title>
</head>
<body>
    <h1>Delete Link</h1>
    
    <p>Are you sure you want to delete this link?</p>
    
    <table border="1" cellpadding="10">
        <tr>
            <th>Platform</th>
            <td>{{ link.get_platform_display }}</td>
        </tr>
        <tr>
            <th>URL</th>
            <td>{{ link.url }}</td>
        </tr>
    </table>
    
    <br>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" style="color: white; background-color: red;">Confirm Delete</button>
        <a href="{% url 'display_link' club_id %}">
            <button type="button">Cancel</button>
        </a>
    </form>
</body>
</html>